@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
body {
    background-image: linear-gradient(#ffdab9, white);
    font-family: 'Sarabun', sans-serif; 
    color: black;
}

header {
    text-align: center;
    border-style: solid;
    border-color: #fef4d7;
    border-width: 5px;
    background-image: linear-gradient(to right, #f08080, #fbc4ab);
    letter-spacing: 5px; 
    padding: 10px;
}